* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	height: 100%;
	max-height: 100%;
	margin: 0;
	display: flex;
	/* overflow: hidden; */
}
.canvas {
	flex-grow: 1;
}
.toolbar {
	width: 20em;
	background-color: antiquewhite;
	padding: 1em;
	overflow: auto;
	flex-shrink: 0;
}
h1 {
	text-align: center;
}